.search__text {
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 550;
  line-height: 24px;
  text-align: left;
  color: #000;
  /* background-color: skyblue; */
}

.search_results {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

@media screen and (max-width: 375px) {
  .page {
    width: 100vw;
    height: 100vh;
  }
  .page__content {
    margin: 0;
    padding: 0 24px;
    height: 90vh;
    width: 90vw;
    height: 30vh;
  }
  .search {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  .search_results {
    flex-direction: row;
  }
}
