.page {
  background-image: url("../../assets/skyline.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1360px;
  max-height: 700px;
}
.page__content {
  margin: 0 auto;
  padding: 0 20px;
  height: 100vh;
}

/* alt= "San Antonio Skyline by Matthew Lejune"; */
/* Background photo credit <a href="https://unsplash.com/@matthewlejune?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Matthew LeJune</a> on <a href="https://unsplash.com/photos/aerial-view-of-white-building-IpvDhQjrewM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
     */
