.resourceCard {
  position: relative;
  max-width: 323px;
  max-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Cabinet Grotesk, sans-serif;
  color: #000;
  background-color: #0000004d;
}

.resourceCard__name {
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 2px 12px 2px 12px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  background-color: #fff;
  align-items: center;
}

.resourceCard__address {
  font-size: 12px;
  flex-direction: column;
}

/* .resourceCard_type {
  font-size: 12px;
} */
/* 
.resourceCard_distance {
  font-size: 12px;
} */
