.resourceCard {
  position: relative;
  width: 323px;
  height: 200px;
  /* max-width: 323px;
  max-height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cabinet Grotesk, sans-serif;
  color: #000;
  background-color: #0000004d;
  margin: 20px;
  padding: 2px 12px 2px 12px;
  border-radius: 5%;
}

.resourceCard__name {
  position: absolute;
  top: 10px;
  margin: 0;
  padding: 2px 12px 2px 12px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  font-weight: 500;
  font-size: 12px;
  background-color: #fff;
  align-items: center;
}

.resourceCard__type {
  position: absolute;
  top: 30px;
  font-size: 12px;
}

.resourceCard__address {
  position: absolute;
  top: 50px;
  font-size: 12px;
}
