.profile {
  display: flex;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 18px;
  font-weight: 550;
  max-width: 1360px;
  max-height: 700px;
  padding: 20px;
  position: relative;
}

.profile__title {
  padding: 2px 12px 2px 12px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  font-weight: 500;
  font-size: 12px;
  background-color: #fff;
}

.profile__picture {
  position: absolute;
  top: 54px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.profile__description {
  width: 323px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cabinet Grotesk, sans-serif;
  color: #000;
  background-color: #0000004d;
  margin: 20px;
  padding: 2px 12px 2px 12px;
  border-radius: 5%;
}
