.profile {
  display: flex;
  flex-direction: column;
  font-family: Cabinet Grotesk, sans-serif;
  width: 94vw;
  max-height: 700px;
  padding: 20px;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  gap: 8px;
  border-radius: 4px;
}

.profile__description {
  display: flex;
  font-family: Cabinet Grotesk, sans-serif;
  border-radius: 5%;
}

.profile__picture {
  justify-self: flex-end;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.profile__bio {
  width: 340px;
  height: 220px;
  border-radius: 5%;
  padding: 16px;
  margin: 16px;
  color: #000;
  background-color: #fff;
}

@media screen and (max-width: 440px) {
  .page {
    width: 100%;
    height: 108vh;
  }
  .page__content {
    margin: 0;
    padding: 0 24px;
    max-height: 100vh;
  }

  .profile {
    padding: 0px;
  }
  .profile__title {
    margin: 12px 8px;
    max-width: 80vw;
    font-size: 20px;
    text-align: center;
  }
  .profile__description {
    flex-direction: column;
  }

  .profile__picture {
    align-self: center;
    height: 220px;
    width: 220px;
  }

  .profile__bio {
    width: 240px;
    height: 248px;
    font-size: 14px;
    padding: 4px 10px;
    margin: 12px 24px;
  }
  .footer {
    margin: 0px;
    padding: 0px;
  }
}
