.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 18px;
  font-weight: 550;
  line-height: 24px;
  text-align: left;
  border-bottom: 1px solid red;
}

.header__controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__home {
  margin-right: 2px;
}
/* .header__home-logo {

} */

.header__about {
  display: flex;
  align-items: flex-start;
}

.header__about-text {
  text-decoration: none;
  flex-grow: 1;
  color: #000;
}

.header__about-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
}
