.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: Cabinet Grotesk, sans-serif;
  /* Inter Bold */
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  border-bottom: 1px solid #000;
}

.header__home-link {
  display: flex;
}
.header__home-text {
  text-decoration: none;
  flex-grow: 1;
  color: #000;
}
.header__home-logo {
  margin-right: 8px;
}

.header__controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__about {
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
  margin-right: 8px;
}

.header__about-link {
  display: flex;
}

.header__about-text {
  text-decoration: none;
  flex-grow: 1;
  color: #000;
}

.header__about-avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-left: 12px;
}
